*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 236, 236);
    color: rgb(44, 44, 44);
    height: 95vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    margin: 0px 184.5px;
    width: 100%;
}
.heading-container{
    padding: 0px 20px 0px 0px;
    height: 10rem;
}
.heading{
    display: flex;
    width: 75%;
}
.heading h3{
    font-size: 25px;
}
.form-container{
    padding: 0px 1rem 1rem;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    width: 400px;
    box-shadow: 0 6px 10px 0 rgb(207, 207, 207);
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px 0px;
    padding: 10px 0px 24px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.break{
    width: 100%;
    height: 1px;
    background-color: rgb(202, 202, 202);
}
input{
    height: 55px;
    padding: 20px;
    border-radius: 5px;
    border: .5px solid rgb(202, 202, 202);
    outline: none;
    font-size: 15px;
}
input:focus{
    border-color: rgb(45, 118, 255);
}
#input-pass{
    padding-right: 35px;
}
.pass{
    position: relative;
}
.fa-eye{
    display: none;
}
.fa-eye-slash{
    color: rgb(131, 131, 131);
    z-index: 2;
}
.fa-eye, .fa-eye-slash{
    position: absolute;
    cursor: pointer;
    padding: 10px;
    top: 0;
    right: 0;
    transform: translate(-10%, 30%);
}
.fa-eye-slash:hover{
    color: black;
}

/* class for showing and hiding the eye icon */
.show{
    display: block;
}
.hide{
    display: none;
}


button{
    background-color: rgb(0, 119, 255);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}

.forgot-pass{
    padding: 15px;
}
.forgot-pass a{
    text-decoration: none;
    color: rgb(0, 119, 255);
    font-size: 14px;
}

.creat-acc{
    padding: 40px 0 20px 0;
}

.creat-acc a{
    padding: 13px 25px;
    text-decoration: none;
    color: white;
    background-color: rgb(57, 187, 5);
    border-radius: 5px;
    font-weight: bold;
}

.create-page{
    padding: 20px;
}

.create-page a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.create-page a:hover{
    text-decoration: underline;
}
span{
    font-size: 14px;
}

.error{
    font-size: 15px;
    color: red;
}

.with-error{
    border: 1px solid rgb(252, 115, 115);
    border-radius: 5px;
    border-color: none;
}
.with-error:focus{
    border-color: rgb(252, 115, 115);
}
@media  screen and (max-width: 680px) {
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .heading-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }
    .heading{
        text-align: center;
        width: 100%;
    }
}